<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="so.codeweaver.muzei.ponies">

    <uses-feature android:name="android.software.live_wallpaper" android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Ponies"
        android:name=".PoniesApp">
        <service
            android:name=".PonyArtService"
            android:description="@string/app_description"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_muzei"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtSource" />
            </intent-filter>

            <meta-data
                android:name="color"
                android:value="@color/colorPrimary" />
            <meta-data
                android:name="settingsActivity"
                android:value="so.codeweaver.muzei.ponies.SettingsActivity" />
            <meta-data
                android:name="replacement"
                android:value="so.codeweaver.muzei.ponies.PonyArtProvider" />
        </service>
        
        <provider
            android:authorities="so.codeweaver.muzei.ponies"
            android:name="so.codeweaver.muzei.ponies.PonyArtProvider"
            android:label="@string/app_name"
            android:description="@string/app_description"
            android:exported="true"
            android:permission="com.google.android.apps.muzei.api.ACCESS_PROVIDER">
            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtProvider" />
            </intent-filter>

            <meta-data
                android:name="color"
                android:value="@color/colorPrimary" />
            <meta-data
                android:name="settingsActivity"
                android:value="so.codeweaver.muzei.ponies.SettingsActivity" />
        </provider>


        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:exported="true"
            android:icon="@drawable/ic_muzei"/>
    </application>

</manifest>
